.wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #fff;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #CCCCCC;
    text-decoration: none; 
    overflow: hidden; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #000;
    position: relative;
    text-decoration: none;
    transition: background-color .08s ease;
}

.button:not(:last-child)::after {
    content: '';
    width: 100%;
    background-color: #ccc;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button:hover {
    background-color: #E4E4E4;
}